<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<div id="chartContainer1" style="width: 80%; height: 300px;display: inline-block;"></div><br/>
<div id="chartContainer2" style="width: 80%; height: 300px;display: inline-block;"></div><br/>
<div id="chartContainer3" style="width: 80%; height: 300px;display: inline-block;"></div><br/>
<div id="chartContainer4" style="width: 80%; height: 300px;display: inline-block;"></div><br/>
<body>
<!--<h2>Welcome to Django!!!</h2>-->
<!--<h3>My Name is: {{ data_points }}</h3>-->
</body>
{% load js %}
<script type="text/javascript">
    var data_points_js = {{ data_points | js }};
    var pie_data_points_js = {{ pie_data_points | js }};
    var line_data_points_js = {{ line_data_points | js }};
    var tri_data_points_js = {{ tri_data_points | js }};

    var chart = new CanvasJS.Chart("chartContainer1",
    {
        animationEnabled: true,
        title: {
            text: "Spline Area Chart"
        },
        axisX: {
            interval: 10,
        },
        data: [
        {
            type: "splineArea",
            color: "rgba(255,12,32,.3)",
            dataPoints: data_points_js
        },
        ]
    });
chart.render();

var chart = new CanvasJS.Chart("chartContainer2",
    {
        animationEnabled: true,
        title: {
            text: "Pie Chart",
        },
        data: [
        {
            type: "pie",
            showInLegend: true,
            dataPoints: pie_data_points_js
        },
        ]
    });
chart.render();

var chart = new CanvasJS.Chart("chartContainer3",
    {
        animationEnabled: true,
        title: {
            text: "Line Chart"
        },
        axisX: {
            valueFormatString: "MMM",
            interval: 1,
            intervalType: "month"
        },
        axisY: {
            includeZero: false
        },
        data: [
        {
          type: "line",
          dataPoints: line_data_points_js
        }
        ]
    });
chart.render();

var chart = new CanvasJS.Chart("chartContainer4",
    {
        animationEnabled: true,
        title: {
            text: "Column Chart"
        },
        axisX: {
            interval: 10,
        },
        data: [
        {
            type: "column",
            legendMarkerType: "triangle",
            legendMarkerColor: "green",
            color: "rgba(255,12,32,.3)",
            showInLegend: true,
            legendText: "Country wise population",
            dataPoints: tri_data_points_js
        },
        ]
    });
chart.render();
</script>
</html>
